fastapi
uvicorn[standard]

langchain
langchain-community
langchain-chroma
langchain-google-genai
google-generativeai

chromadb
sentence-transformers

langchain-text-splitters
pypdf
unstructured
tiktoken
psycopg2-binary
alembic

python-multipart
numpy

email-validator