fastapi
uvicorn[standard]

langchain
langchain-community
langchain-chroma
langchain-google-genai
google-generativeai

chromadb
sentence-transformers

langchain-text-splitters
pypdf
unstructured
tiktoken

python-multipart
numpy